---
# Locust tasks, currently supported:
# Btn, Msg
tasks:
#  Book it: 1
  Msg: 100
fanout: True
level: DEBUG
fanout_timeout_cycles: 10
fanout_timeout_waits: 0.5
host: {bot_url}
host_second: {bot_url}